/* Global Styles & Colors */
:root {
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --spellingBeeYellow: #f7da21;
  --lightGray: #d3d6da;
  --gray: #86888a;
  --gray-2: #dcdcdc;
  --gray-3: #dfdfdf;
  --gray-4: #cccccc;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  --black-2: #121212;
  --black-3: #363636;
  --black-4: #cfcfcf;
  --blue-2: #477aaa;
  --blue-5: #4f85e5;
  /* Colorblind colors */
  --orange: #f5793a;
  --blue: #85c0f9;
  --outlineBlue: #2671dc;
  --linkBlue: #477aaa;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  --header-height: 40px;
  --header-padding-x: 16px;
  --keyboard-height: 200px;
  --game-max-width: 500px;

  --error-z-index: 500;
  --toast-z-index: 1000;
  --modal-z-index: 2000;
  --page-z-index: 3000;
  --system-toast-z-index: 4000;
  --horizontal-warning-z-index: 5000;
}
